<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="API" value="https://boggs-scoreboard.herokuapp.com" />
    <add key="cloudsPath" value="C:\Users\Justi\source\repos\ConsoleApp18\ConsoleApp18\clouds\" />
    <add key="cloudsFinishPath" value="C:\Users\Justi\source\repos\ConsoleApp18\ConsoleApp18\clouds\finish\" />
    <add key="cloudsGifPath" value="C:\Users\Justi\source\repos\ConsoleApp18\ConsoleApp18\clouds\finish\" />
  </appSettings>
</configuration>